input {
  height: 30px;
  font-size: 15px;
}

.ng-valid:not(form) {
  border: 2px solid #00ff00;
}

.ng-invalid:not(form)  {
  border: 2px solid #ff0000;
}

.container-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
}
